<div id="container" fxLayout.xs="row" fxLayoutAlign="center center" >
  <!--youtube-->
  <div id="item1" class="link" fxFlex="25%" fxLayoutAlign="center center">
      <img src="../../assets/youtube.png">
  </div>

  <!--store-->
  <div id="item2" class="link" fxFlex="25%" fxLayoutAlign="center center">
      <img src="../../assets/googleplay.png">
  </div>

  <!--mail-->
  <div id="item3" class="link" fxFlex="25%" fxLayoutAlign="center center">
      <img src="../../assets/gmail.png">
  </div>

  <!--facebook-->
  <div id="item4" class="link" fxFlex="25%" fxLayoutAlign="center center">
      <img src="../../assets/facebook.png">
  </div>
</div>