<div id="wrapper" fxLayout="column" [dir]="direction">
    <!--header-->
    <div id="thediv">
        <img id="logo" fxFlexOffset="12px" fxFlex="100%" src="../../assets/logo.svg">
    </div>
</div>

<!--old code-->
<div class="main">
  <div class="content">
    <div id="bar">
      <img src="../../assets/logo.svg" style="height: 60px; float: right;" />
      <div class="navBtn">
        <h1 style="color: white; font-weight: 400">מפה</h1>
      </div>
      <div class="navBtn" style="width:250px; padding-right: 30px;">
        <h1 style="font-weight: 400; display: block; float: right;">מדריך דפיברילטור</h1>
      </div>
    </div>
  </div>
  <header>
    <div id="thediv">
      <img id="logo" src="../../assets/logo.svg">
    </div>
    <div id="other">
      <img id="logoOther" src="../../assets/logo.svg">
    </div>
  </header>
  <section style="background-color: rgba(1, 1, 1, 0.05);">
    <div id="intro">
      <p id="Tintro">אנחנו פה בכדי להנגיש את מכשירי הדפיברילטור החצי-אוטומטיים (AED) בארץ ע״י מיפוי שיתופי-חברתי,
        ולתרום להעלאת המודעות החברתית לחשיבותם.</p>
    </div>
  </section>

  <section>
    <article>
      <h2><u>מהות הפרוייקט</u></h2>
      <p><b>הקמת מאגר מיפוי של כל מכשירי ה-AED הציבוריים בארץ ע״י אפליקציית סמארטפון חינמית לכל אזרח ומגזר.</b>
        האפליקציה נועדה בראש ובראשונה ליצור מיפוי אשר כל אדם יכול להנות ממנו וגם לתרום ולשתף מיקום של מכשיר חדש למאגר
        הציבורי. בנוסף, האפליקציה משמשת לעת
        מצוקה בכדי להוביל את המשתמש למכשיר הקרוב ע״י מנוע ניווט ייחודי ופשוט לשימוש. לאפליקציה נלווים הדרכות והסברים
        לשימוש במכשיר הדפיברילטור ולביצוע החייאה בשלל שפות: עברית, ערבית, אנגלית, רוסית ובקרוב גם בשפות נוספות.</p>
      <p style="margin-bottom: 0;">
        מאגר המיפוי יהיה ציבורי וזמין לכל אדם או גוף, ובנוסף גם באתר האינטרנט אשר יהיה זמין לשירותי הצלה ולצרכי
        אינטגרציה.</p>
    </article>
    <article style="padding: 0;">
      <a href="https://play.google.com/store/apps/details?id=nhgh.com.medman">
        <div class="links"><img src="../../assets/googleplay.png"></div>
      </a>
      <div class="links" id="demo" onclick="copyToClipboard(document.getElementById('demo').innerHTML)"><img src="../../assets/gmail.png"></div>
      <script>
        function copyToClipboard(text) {
          window.prompt("להעתקת כתובת המייל לחץ: Ctrl+C, Enter", "Medmanteam@gmail.com");
        }
      </script>
      <a href="https://www.facebook.com/whereisdefi/">
        <div class="links"><img src="../../assets/facebook.png"></div>
      </a>

      <a href="https://www.youtube.com/watch?v=RCR6tfzkdro">
        <div class="links"><img src="../../assets/youtube.png"></div>
      </a>
    </article>
    <article class="grey">
      <div class="demoArticle">
        <h2><u>המצב כיום</u></h2>
        <p><b>במדינת ישראל נפטרים מעל 3,000 אנשים בשנה מאירוע לבבי אשר מהווה את גורם התמותה השני במדינה.</b> הטיפול
          המיידי היחידי במצב של אירוע לב קטלני הוא מתן שוק חשמלי מבוקר ללב החולה בזמן קצר ככל הניתן. במידה ולא ניתן
          שוק, כבר לאחר כ-3 דק׳ מתחיל להיווצר
          נזק מוחי. מכשיר ה- הוא כלי שנועד לבדוק את ליבו של הלוקה, ובעת הצורך, לתת שוק חשמלי בצורה מבוקרת, פשוטה
          ובטוחה. </p>
        <h2><u>הבעיה</u></h2>
        <p>בהתאם לכך, כבר ב-2008 עבר בכנסת ״חוק הדפיברילטורים״ המקורי הקובע כי בכל עסק שפתוח לציבור חייב להימצא מכשיר
          דפיברילטור לעת חירום. כיום, לאחר שמונה שנים של מאמצים וגלגולי חוק רבים, <b>מפוזרים ברחבי הארץ כ-10,000
            מכשירים ולמרות כל זאת, נרשמות בסה״כ 10-20 הצלות חיים בשנה בלבד.</b> כתוצאה מחוסר בהנגשה ומודעות חברתית לגבי
          מכשירים אלו, נתוני התמותה כמעט ואינם משתנים, וזאת לאחר זיהוי הפתרון הנכון והשקעה של עשרות מיליוני שקלים
          (מחירו של מכשיר מתחיל מ-4,000 ש״ח).</p>
      </div>
    </article>
    <article>
      <h2><u>החזון</u></h2>
      <p>אנו מאמינים כי ניתן להקטין את כמות הנפטרים השנתית מאירועי לב בעזרת הנגשה והעלאת המודעות החברתית לקיומו
        ולחשיבותו של מכשיר הדפיברילטור, זאת באמצעות מיפוי חברתי של כל המכשירים והנגשת מאגר המיפוי לכל אדם על ידי
        אפליקציה טלפונית, אתר אינטרנט וכלי אינטרגרציה
        לצד שלישי. אנו רואים בהצלת חיים ושיתופיות ערכים עליונים, ולכן, אנו מאמינים במיפוי ארצי אשר יהיה: שיתופי-חברתי,
        חינמי ופתוח לכל מגזר, עסק או גוף הצלה. אנו נפעל למען עתיד בו הצלות חיים באמצעות מכשיר הדפיברילטור לא יהיו עוד
        אירוע חריג בנוף הישראלי,
        אלא חלק מהמציאות היום-יומית. </p>
    </article>
    <article class="grey">
      <div class="demoArticle">
        <h2><u>חלופות</u></h2>
        <p>קיימות אפליקציות מיפוי מכשירים רבות בחנויות האפליקציות, אולם כמעט כולן ללא מכשירים או משתמשים כלל. שתי
          האפליקציות הפעילות הן PulsePoint האמריקאית וStaying Alive- הצרפתית, אשר אמנם מדגימות את השיפור אליו אנו
          שואפים, אך <b>הן אינן מתאימות לחקיקה הישראלית.</b> האחת מבוססת על מאגר מכשירים של חברות הצלה פרטיות, והאחרת
          מציעה מיפוי מכשירים בתשלום במקביל לשיווק שלהם.</p>
        <p><b>החוק בישראל מחייב בעלי עסקים להחזיק במכשירים, אך אין גוף שמרכז את האחריות במקום אחד - על כן האחריות היא
            שלנו.</b> אנו מאמינים שהשינוי צריך לצמוח מלמטה בצורת מיפוי ציבורי-חברתי.</p>
        <p>כמו כן, הקושי למצוא את המכשיר הנכון בעת חירום הוא מורכב ביותר בשל המגוון הגדול של צורות השילוטים והמיקומים
          השונים. לכן, קיים צורך בהנגשה טכנולוגית מפותחת ומותאמת כדוגמת מנוע הניווט הייחודי שלנו.</p>
      </div>
    </article>
  </section>

    <section>
      <div id="footer">
        <h2 style="color:white;"><u>מי?</u></h2>
        <p>אנו ארבעה סטודנטים לרפואה באוניברסיטת בן-גוריון שבנגב. במסגרת הלימודים נחשפנו לחשיבות המכרעת של מכשיר
          הדפיברילטור בהצלת חיים ולכן החלטנו לקחת אחריות ולעשות מעשה. השירות והאפליקציה נוצרו במקור כחלק בפרוייקט
          ״סטודנטים חושבים חדשנות״ של אוניברסיטת בן
          גוריון, גוגל וממשל זמין.</p>
        <p style="display:inline-block; padding-top: 30px; text-align: center; width: 100%;">אריאל חסידים - ניהול,
          פיתוח UX/I ו-web &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp נעם הדר - תכנות android, מאגרי מידע<br> אסיל מחאמיד -
          אחראי מגזר ערבי, פרזנטור &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp רותם טל - יח״צ, שיווק, תוכן</p>
      </div>
    </section>

    <article class="grey">
      <div id="cs">
      </div>
    </article>
</div>