<div id="wrapper" fxLayout.xs="column">
  <!--logo-->
  <div id="logoContainer" fxLayout.xs="column" fxLayoutAlign="center center">
    <img id="logo" fxFlex="100%" src="../../assets/logo.svg">
  </div>

  <!--subtitle-->
  <div id="subtitleContainer" fxLayout.xs="column">
    <p>״איפה דפי?״ הוא מיזם שהוקם במטרה למפות את פריסת הדפיברילטורים הארצית ולהגדיל את הנגישות שלהם לציבור ולמוקדי
      החירום למען הצלת חיים.</p>
  </div>

  <!--1-->
  <div class="whiteContainer" fxLayout.xs="column">
    <h1>
      המצב בישראל כיום
    </h1>
    <p>
      <b>ב
        מדינת ישראל מדווחים כ-8,000 מקרי מוות בשנה כתוצאה מדום לב. מתוכם כ-70% מתרחשים מחוץ לכותלי בית החולים. זוהי
        סיבת המוות השניה בשכיחותה במדינה!
      </b><br>
      האפשרות היחידה להשבת קצב לב תקין היא באמצעות מכת חשמל אשר ניתנת ע״י דפיברילטור. AED הוא סוג של דפיברילטור נייד
      המסוגל לנטר פעילות לבבית-חשמלית, לאבחן פרפור חדרים והפרעות קצב נוספות ולהמליץ ולתת מכת חשמל למטופל במקרה הצורך.
      ההפעלה מלווה בהנחיות קוליות וחזותיות בעברית, המאפשרות באופן עקרוני שימוש ללא ידע מקדים. בשנת 2014 נחקק ״חוק
      הדפיברילטורים״, החוק מגדיר כי כל בית עסק אשר עוברים בו ביום מעל 500 איש במצטבר, חייב להציב מכשיר AED במתחם בית
      העסק.
    </p>
  </div>

  <app-links></app-links>

  <!--2-->
  <div class="greyContainer" fxLayout.xs="column">
    <h1>
      הבעיה
    </h1>
    <p>
      הזמן עד למתן השוק החשמלי הוא הגורם המכריע. במידה והפרפור מופסק בתוך דקה מרגע ההתמוטטות, שיעור ההחייאות המוצלחות
      הוא כ-90%, והוא יורד בכ-­10% בכל דקה שלאחר מכן. לכן,
      <b>
        ע״פ הערכות, קיימים מעל 5,000 מכשירי דפי בקהילה בפריסה ארצית, אך מנגד, השימושים השנתיים במכשירים אלו ספורים
        ונדירים בלבד.
      </b>
      למעשה, כיום כלל לא קיים מיפוי של המכשירים בארץ בשום מקום - לא במוסדות המדינה ולא אצל גופי ההצלה, ועל כן, הנגישות
      שלהם מוגבלת מאוד.
    </p>
  </div>

  <!--3-->
  <div class="whiteContainer" fxLayout.xs="column">
    <h1>
      חזון ועקרונות יסוד
    </h1>
    <p>
      אנו מאמינים כי
      <b>
        ניתן להקטין את כמות הנפטרים השנתית מאירועי לב בעזרת הנגשה והעלאת המודעות החברתית לקיומם וחשיבותם של מכשירי
        הדפי.
      </b>
      לשם כך נדרש מיפוי שלהם מצד אחד, והנגשה לציבור בעת חירום מצד שני.
    </p>

    <ul>
      <li>
        הצלת חיים עומדת לנגד עינינו תמיד, והיא שמנחה את כלל אנשי הצוות שעומלים על פיתוח המיזם
      </li>
      <li>
        הפרויקט פועל ברוח התנדבותית, ללא מטרות רווח ומציע שירותים חינמיים
      </li>
      <li>
        אנו אנשים שמאמינים בקוד פתוח, ועל כן, כל השירותים שאנו מציעים פתוחים ומונגשים לכל אדם, גוף ומגזר
      </li>
    </ul>

  </div>

  <!--4-->
  <div class="greyContainer" fxLayout.xs="column">
    <h1>
      איסוף המידע ויצירת מיפוי
    </h1>
    <p>
      <b>
        איסוף המידע לטובת יצירת המיפוי מבוצע בשני מישורים במקביל:
      </b>
    </p>

    <ul>
      <li>
        <b>
          ״מיקור המונים״ על בסיס חברתי
        </b>
      </li>
      <li>
        <b>
          פלטפורמה לניהול ואחזקה של מכשירי דפיברילטור
        </b>
      </li>
    </ul>

    <p>
      מיקור ההמונים נאסף ע״י אפליקציית מובייל חינמית בה כל משתמש יכול להוסיף מכשיר דפי חדש למפה ע״י שיתוף מיקום של
      מכשיר שהוא נתקל בו, לצלם אותו ולהשלים פרטים נוספים. פלטופרמת הניהול והאחזקה מיועדת לבעלי עסק המחזיקים מכשירי דפי
      ברשותם, ומאפשרת להם לנהל את הפריסה, הנגישות והכשירות שלהם, ובו בזמן להנגיש את המכשירים לציבור.
    </p>
  </div>

  <!--4-->
  <div class="whiteContainer" fxLayout.xs="column">
      <h1>
          הנגשת המידע
    </h1>
      <p>
          הנגשת מכשירי דפי היא קריטית על מנת להציל חיים בשעת חירום, ועל כן עליה להיות מכוונת לסגירת מעגל בין המכשיר למטופל בדקות בודדות. שיטת ההנגשה מחולקת לשני שלבים: 
      </p>
  
      <ul>
        <li>
            הנגשת המיפוי לכל צד שלישי, ובפרט לארגוני ההצלה אשר מקבלים דיווחים בזמן אמת, כך המוקדנים/ות יוכלו לדעת האם קיים מכשיר דפי באזור האירוע (יש לנו API פתוח, צרו קשר איתנו לפרטים). 
        </li>
        <li>
            חבירה של מכשיר הדפי למטופל ע״י אפליקציית ניווט לדפדפן שנשלחת לעובר אורח בווטסאפ/סמס, או ע״י ״איש הקשר״ של המכשיר.
        </li>
      </ul>
    </div>

    <app-links></app-links>

    <img id="scheme" src="../../assets/scheme.png" />

    <!--who-->
  <div class="redContainer" fxLayout.xs="column">
      <h1>
        מי?
      </h1>
      <p>
          מיזם ״איפה דפי?״ הוקם במקור ע״י אריאל חסידים, נעם הדר, רותם טל ואסיל מחאמיד, ארבעה סטודנטים לרפואה באוניברסיטת בן-גוריון, במסגרת תחרות ״חדשנות במגזר הציבורי 2.0״ של גוגל ואוניברסיטת בן-גוריון, הפרוייקט זכה במקום שני. המשך הפיתוח של המיזם נעשה ע״י אריאל חסידים וזיו לוי, במסגרת מלגת מו״פ ע״ש אביאל רון ז״ל של המרכז למיפוי ישראל.
      </p>
    </div>

    <!--1-->
  <div class="whiteContainer" fxLayout.xs="column">
      <h1>
        בשיתוף עם:
      </h1>
    
      <div id="container" fxLayout.xs="row" fxLayoutAlign="center center" >
          <!--bgu-->
          <div id="item1" class="coImg" fxFlex="25%" fxLayoutAlign="center center">
              <img src="../../assets/bgu.png">
          </div>
        
          <!--mapi-->
          <div id="item2" class="coImg" fxFlex="25%" fxLayoutAlign="center center">
              <img src="../../assets/mapi.png">
          </div>
        
          <!--google-->
          <div id="item3" class="coImg" fxFlex="25%" fxLayoutAlign="center center">
              <img src="../../assets/ggl.png">
          </div>
        
          <!--shaag-->
          <div id="item4" class="coImg" fxFlex="25%" fxLayoutAlign="center center">
              <img src="../../assets/shaag.png">
          </div>

          <!--ihud-->
          <div id="item2" class="coImg" fxFlex="25%" fxLayoutAlign="center center">
              <img src="../../assets/ihud.png">
          </div>
        
          <!--easy-->
          <div id="item3" class="coImg" fxFlex="25%" fxLayoutAlign="center center">
              <img src="../../assets/easy.png">
          </div>
        
          <!--bar-->
          <div id="item4" class="coImg" fxFlex="25%" fxLayoutAlign="center center">
              <img src="../../assets/bar.png">
          </div>
        </div>

  </div>

</div>
